<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.nuritelecom.mapper.BoardMapper">

	<insert id="create" parameterType="BoardVO">
		INSERT INTO tbl_board(title, content, writer) VALUES (#{title}, #{content}, #{writer})
		<selectKey resultType="int" keyProperty="bno" order="AFTER">
	        SELECT LAST_INSERT_ID()
	    </selectKey>  
	</insert>

	<select id="read" resultType="BoardVO">
		SELECT 
		    a.*, GROUP_CONCAT(b.stored_file_name separator '|') sfname
		FROM
		    tbl_board a
        LEFT JOIN
		    tb_file b ON a.bno = b.bno
		WHERE
		    b.bno = #{bno}
		GROUP BY b.bno
	</select>

	<update id="update" parameterType="BoardVO">
		update tbl_board set title= #{title}, content=#{content}, writer = #{writer} where bno = #{bno}
	</update>

	<delete id="delete">
		delete from tbl_board where bno = #{bno}
	</delete>
	
	<select id="listAll" parameterType="int" resultType="BoardVO">
		<![CDATA[
			SELECT 
			    a.*, ifnull(GROUP_CONCAT(b.original_file_name, '|'),'') files
			FROM
			    tbl_board a
			        LEFT JOIN
			    tb_file b ON a.bno = b.bno
			GROUP BY a.bno
			ORDER BY a.bno DESC
			LIMIT #{page}  , 20
		]]>
		
	</select>
	
	<select id="total" resultType="int">
		select count(*) from tbl_board
	</select>
	
	<insert id="insertFile" parameterType="FileVO">
    <![CDATA[
        INSERT INTO TB_FILE
        (
            bno,
            ORIGINAL_FILE_NAME,
            STORED_FILE_NAME,
            FILE_SIZE,
            CREA_ID
        )
        VALUES
        (
            #{bno},
            #{originalFileName},
            #{storedFileName},
            #{fileSize},
            #{creaId}
        )
    ]]>
</insert>

</mapper>